<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/common/box.css"/>
<link rel="stylesheet" type="text/css" href="/css/common/checkbox.css"/>
<style type="text/css">
    a {
        color: black;
    }

    a:hover {
        text-decoration: none;
    }

    .bgc-w {
        background-color: #fff;
    }

    .c {
        font-weight: 600;
    }

    .paixu:HOVER {
        cursor: pointer;
        color: #337ab7;
    }
</style>

<script type="text/javascript">

    //更改通知置顶
    function updateTop(noticeId, isTop) {

        if (isTop == 0) {
            $("#isTop" + noticeId).html("✓");
        } else {
            $("#isTop" + noticeId).html("");
        }

        location.href = "/notice/updateTop?noticeId=" + noticeId + "&isTop=" + isTop + "&forUser=true";
    }

    function turn_page(noticeUrl) {

        window.parent.location.href = noticeUrl;

    }

</script>

<script>

    $(function () {

        $("[name = 'query_notice_btn']").click(function () {

            location.href = "/notice/queryNoticeByUser?title=" + $("#notice_title").val() + "&forUser=true";
        })

        $("[name = 'goIndex']").click(function () {

            window.parent.location.href = "/sys/initMenu";

        })
    })

</script>


<div class="row" style="padding-top: 10px;">
    <div class="col-md-2">
        <h1 style="font-size: 24px; margin: 0;" class="">通知列表</h1>
    </div>
    <div class="col-md-10 text-right">
        <a name="goIndex"><span class="glyphicon glyphicon-home"></span> 首页</a>
        > <a disabled="disabled">通知列表</a>
    </div>
</div>

<div class="row" style="padding-top: 15px;">
    <div class="col-md-12 thistable">
        <!--id="container"-->
        <div class="bgc-w box box-primary">
            <!--盒子头-->
            <div class="box-header">
                <h3 class="box-title">
                    <a href="" class="label label-success" style="padding: 5px;margin-left:5px;">
                        <span class="glyphicon glyphicon-refresh"></span> 刷新
                    </a>
                </h3>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" id="notice_title" th:value="${title}" class="form-control input-sm baseKey"
                               placeholder="按标题查找"/>
                        <div class="input-group-btn">
                            <a class="btn btn-sm btn-default baseKetsubmit">
                                <span name="query_notice_btn"
                                      class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--盒子身体-->
            <div class="box-body no-padding">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th scope="col"><span class="paixu thistype">类型
						</span></th>
                            <th scope="col"><span class="paixu thisstatus">状态
						</span></th>
                            <th scope="col">标题</th>
                            <th scope="col"><span class="paixu thistime">发布时间
						</span></th>
                            <th scope="col">发布人</th>
                            <th scope="col">部门</th>
                            <th scope="col">置顶</th>
                            <th scope="col">链接</th>
                            <th scope="col">操作</th>
                        </tr>
                        <tr th:each="aoaNoticeList:${listAoaNoticeList}">
                            <td th:switch="${aoaNoticeList.typeId}"><span th:case="17">公告</span><span
                                    th:case="16">通知</span><span th:case="18">投票</span></td>
                            <td th:switch="${aoaNoticeList.statusId}">
                                <span class="label label-primary" th:case="20">一般</span>
                                <span class="label label-warning" th:case="21">重要</span>
                                <span class="label label-danger" th:case="22">紧急</span>
                            </td>
                            <td class="c"><span th:text="${aoaNoticeList.title}"></span></td>
                            <td><span th:text="${aoaNoticeList.noticeTime}"></span></td>
                            <td><span th:text="${aoaNoticeList.aoaUser.userName}"></span></td>
                            <td><span th:text="${aoaNoticeList.aoaDept.deptName}"></span></td>
                            <td><span class="labels"><label><input
                                    type="checkbox" checked disabled><i th:id="isTop+${aoaNoticeList.noticeId}"
                                                                        th:text="${aoaNoticeList.isTop == 1 ? '✓' : ''}"
                                                                        th:onclick="'javascript:updateTop('+${aoaNoticeList.noticeId}+','+${aoaNoticeList.isTop}+')' "></i></label></span>
                            </td>
                            <td><span onclick="turn_page(this.getAttribute('data-thing'))"
                                      th:data-thing="${aoaNoticeList.url}" style="cursor: pointer"
                                      th:class="${aoaNoticeList.url != '' ? 'glyphicon glyphicon-link' : ''}"></span>
                            </td>
                            <td><a th:href="@{/notice/queryNoticeById(noticeId=${aoaNoticeList.noticeId})}"
                                   class="label xiugai chakan"><span class="glyphicon glyphicon-search"></span>
                                查看</a>
                                <a th:href="@{/notice/forwardUnder(noticeId=${aoaNoticeList.noticeId})}"
                                   onclick="{return confirm('确定转发给自己的下属吗？');};"
                                   class="label xinzeng chakan forwardthis"><span
                                        class="glyphicon glyphicon-log-out"></span>
                                    转发</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--盒子尾-->
            <div class="box-footer no-padding" style="margin-top: -20px;">
                <div style="padding: 5px;">
                    <div id="page"
                         style="background: #fff; border: 0px; margin-top: 0px; padding: 2px; height: 25px;">
                        <div style="width: 40%; float: left;">
                            <div class="pageInfo" style="margin-left: 5px;">
                                共<span th:text="${count}"></span>条 | 每页<span
                                    th:text="${count != 0 ? maxResult : 0}"></span>条
                                | 共<span th:text="${total}">1</span>页
                            </div>
                        </div>
                        <div style="width: 60%; float: left;">
                            <div class="pageOperation">
                                <a class="btn btn-sm btn-default no-padding tablefirst"
                                   th:href="@{/notice/queryNoticeByUser(firstResult=1,title=${title},forUser=true)}"
                                   style="width: 30px; height: 20px;"> <span
                                        class="glyphicon glyphicon-backward"></span></a>
                                <a class="btn btn-sm btn-default no-padding tableup"
                                   th:href="@{/notice/queryNoticeByUser(firstResult=${firstResult - 1 < 1 ? 1 : firstResult - 1},title=${title},forUser=true)}"
                                   style="width: 30px; height: 20px;"> <span
                                        class="glyphicon glyphicon-triangle-left"></span></a>
                                <a class="btn btn-default no-padding"
                                   style="width: 30px; height: 20px;"> <span
                                        th:text="${count != 0 ? firstResult : 0}"></span> </a>
                                <!--判断是否是最后一页  -->
                                <a class="btn btn-sm btn-default no-padding tabledown"
                                   style="width: 30px; height: 20px;"
                                   th:href="@{/notice/queryNoticeByUser(firstResult=${firstResult + 1 >= total ? total : firstResult + 1},title=${title},forUser=true)}"> <span
                                        class="glyphicon glyphicon-triangle-right"></span></a>
                                <a class="btn btn-sm btn-default no-padding tablelast"
                                   style="width: 30px; height: 20px;"
                                   th:href="@{/notice/queryNoticeByUser(firstResult=${total},title=${title},forUser=true)}"> <span
                                        class="glyphicon glyphicon-forward"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                /* 分页插件按钮的点击事件 */
                /* url是从后台接收过来的链接，sort是记录排序规则 */
                $('.tablefirst').on('click', function () {
                    if (!true) {
                        $('.thistable').load('/notice/queryNoticeByUser?firstResult=1&title='+[[${title}]]+'&forUser=true');
                    }
                });
                $('.tableup').on('click', function () {
                    if (!true) {
                        $('.thistable').load('/notice/queryNoticeByUser?firstResult='+[[${firstResult - 1 < 1 ? 1 : firstResult - 1}]]+'&title='+[[${title}]]+'&forUser=true');
                    }
                });
                $('.tabledown').on('click', function () {
                    if (!true) {
                        $('.thistable').load('/notice/queryNoticeByUser?firstResult='+[[${firstResult + 1 > total ? total : firstResult + 1}]]+'&title='+[[${title}]]+'&forUser=true');
                    }
                });
                $('.tablelast').on('click', function () {
                    if (!true) {
                        $('.thistable').load('/notice/queryNoticeByUser?firstResult='+[[${total}]]+'&title='+[[${title}]]+'&forUser=true');
                    }

                });

                /*类型、状态、时间的排序  */
                $('.thistype').on('click', function () {
                    if ($(this).children().hasClass('glyphicon-triangle-bottom')) {
                        $('.thistable').load('informlistpaging?type=0&icon=glyphicon-triangle-top');
                    } else {
                        $('.thistable').load('informlistpaging?type=1&icon=glyphicon-triangle-bottom');
                    }
                });
                $('.thisstatus').on('click', function () {
                    if ($(this).children().hasClass('glyphicon-triangle-bottom')) {
                        $('.thistable').load('informlistpaging?status=0&icon=glyphicon-triangle-top');
                    } else {
                        $('.thistable').load('informlistpaging?status=1&icon=glyphicon-triangle-bottom');
                    }
                });
                $('.thistime').on('click', function () {
                    if ($(this).children().hasClass('glyphicon-triangle-bottom')) {
                        $('.thistable').load('informlistpaging?time=0&icon=glyphicon-triangle-top');
                    } else {
                        $('.thistable').load('informlistpaging?time=1&icon=glyphicon-triangle-bottom');
                    }
                });
                /* 查找 */
                $('.baseKetsubmit').on('click', function () {
                    var baseKey = $('.baseKey').val();
                    console.log(baseKey);
                    $('.thistable').load('informlistpaging?baseKey=' + baseKey);
                });
            </script>
        </div>
        <script>
            $(function () {
                $(".chakan").click(function () {
                    var $information = $(this).parents("td").siblings(".c").find("span").text();
                    if ($information != "") {
                        parent.changeinformation();
                    }
                });
            });
        </script>
    </div>
</div>
</html>