<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script charset="utf-8" th:src="@{/plugins/kindeditor/kindeditor-min.js}"></script>
<script charset="utf-8" th:src="@{/plugins/kindeditor/lang/zh_CN.js}"></script>
<script type="text/javascript" th:src="@{/js/mail/mail.js}"></script>
<link rel="stylesheet" th:href="@{/plugins/kindeditor/themes/default/default.css}">
<link rel="stylesheet" th:href="@{/css/common/tanchuang.css}">
<script type="text/javascript" th:src="@{/js/mail/query_page.js}"></script>
<style>
    .ke-container {
        border-radius: 5px;
    }
</style>
<div class="bgc-w box box-primary" style="min-height: 613px;">
    <!--盒子头-->
    <div class="box-header">
        <h3 class="box-title">写信</h3>
        <div class="box-tools">
            <div class="pull-right top">
                <button type="button" class="btn btn-md btn-primary">
                    <span class="glyphicon glyphicon-chevron-down ">展开更多</span>
                </button>
            </div>
        </div>
    </div>
    <!--盒子身体-->
    <form th:action="@{/mail/send}" method="post" enctype="multipart/form-data" onsubmit="return check();">
        <div class="box-body">
            <!--錯誤信息提示  -->
            <div class="alert alert-danger alert-dismissable" style="display:none;" role="alert">
                错误信息:
                <button class="thisclose close" type="button">×</button>
                <span class="error-mess"></span>
            </div>
            <div id="MoreDiv">
                <div class="form-group">
                    <select name="mailType" id="ctl00_cphMain_ddlType" class="select2 form-control">
                        <option th:value="${mailType.charStatusId}" th:each="mailType:${listMailType}"
                                th:text="${mailType.charName}" th:selected="${mailType.isTop == 1}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="mailStatusId" id="ctl00_cphMain_ddlStatus" class="select2 form-control">
                        <option th:value="${mailLevel.charStatusId}" th:each="mailLevel:${listMailLevel}"
                                th:text="${mailLevel.charName}" th:selected="${mailLevel.isTop == 1}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="mailPush" id="account" class="select2 form-control">
                        <option th:value="${mailScope.charStatusId}" th:each="mailScope:${listMailScope}"
                                th:text="${mailScope.charName}" th:selected="${mailScope.isTop == 1}"></option>
                    </select>
                </div>
            </div>

            <div id = "shoujianren" class="form-group">
                <input name="inReceiver" type="text" id="recive_list" style="background-color: #fff;"
                       class="form-control" readonly="readonly" placeholder="收件人：" list="listReceiver">
                <datalist id = "listReceiver">
                </datalist>
                <div class="reciver">
                    <span class="label label-success glyphicon glyphicon-plus tongxunlu" data-toggle="modal"
                          data-target="#myModal" style="cursor: pointer;">通讯录</span>
                </div>
            </div>

            <div class="form-group">
                <input name="mailTitle" type="text" value="" id="ctl00_cphMain_txtSubject" class="form-control"
                       placeholder="主题：">
            </div>

            <div class="form-group">
                <textarea name="mailContent" class="form-control tent"
                          style="width: 100%; height: 300px;  font-size: 20px;"></textarea>
            </div>

            <div class="form-group">
                <div class="btn btn-default ">
                    <span class="glyphicon glyphicon-paperclip">增加附件</span> <input type="file" name="file"
                                                                                   id="ctl00_cphMain_fuAttachment">
                </div>
                <p class="help-block">5MB以内</p>
            </div>

        </div>
        <!--盒子尾-->
        <div class="box-footer foots">
            <div class="left1">
                <a id="ctl00_cphMain_lnbDiscard" class="btn btn-default " href="/mail/init"><span>放弃</span></a>
            </div>
            <div class="pull-right right1 ">
                <input type="submit" class="btn btn-default" name="fasong" value="存草稿">
                <input type="submit" class="btn btn-primary " name="fasong" value="发送">

            </div>
        </div>
        <!--存草稿 | 发送-->
        <input type="hidden" name="mailPsuh" value="1">
    </form>
</div>
<style>
    .table-r {
        overflow: scroll;
        height: 245px;
    }
</style>
<!-- 接收人弹窗-->
<div class="modal fade " id="myModal" tabindex="-1">

    <!--第二步，窗口声明-->
    <div class="modal-dialog modal-lg ">
        <!--第三步、内容区的声明-->
        <div class="modal-content" style="background: #F9F9F9;">
            <div class="modal-1">

                <div class="modal-2">

                    <div class="modal-header" style="margin:10px;margin-top: -20px;">
                        <button class="close" data-dismiss="modal"
                                style="display: block;margin: -52px -78px 0 0;;border-radius: 60%;">
                            <span class="glyphicon glyphicon-remove-circle" style="color:white;font-size: 30px;"></span>
                        </button>
                        <div class="row">
                            <div class="col-xs-12" style="height:30px;margin:10px 0px;">

                                <h4 style="float:left;">
                                    <a class="btn btn-success glyphicon glyphicon-plus btn-sm" href="##"
                                       onclick="addvalue()"> 增加接收人</a>
                                </h4>

                                <div class="input-group">
                                    <input type="text" class="form-control input-sm pull-right cha" placeholder="查找...">
                                    <div class="input-group-btn chazhao" style="top:-1px;">
                                        <a class="btn btn-sm btn-default glyphicon glyphicon-search"
                                           style="height: 30px;" href="##"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body thistable" style="margin:10px;">

                        <div class="table-r">
                            <table class="table  table-hover  container-fluid ">
                                <thead>
                                <tr class="row">
                                    <th class=" col-xs-1">
                                        <span class="labels" style="display:none;"><label><input id="checkedAll"
                                                                                                 type="checkbox"><i>✓</i></label></span>
                                    </th>
                                    <th class=" col-xs-1">
                                        <span class="labels" style="display:block;"></span>
                                    </th>
                                    <th class=" col-xs-2 b">部门</th>
                                    <th class=" col-xs-2 b">真实姓名</th>
                                    <th class="col-xs-2 b">用户名</th>
                                    <th class="col-xs-2 b">职位</th>
                                    <th class=" col-xs-2">电话</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>

                        <div class="box-footer no-padding" style="margin-top: -20px;">
                            <div style="padding: 5px;">
                                <div id="page"
                                     style="background: #fff; border: 0px; margin-top: 0px; padding: 2px; height: 25px;">
                                    <div style="width: 40%; float: left;">
                                        <div class="pageInfo" style="margin-left: 5px;">
                                            共<span id="count"></span>条 | 每页<span id="maxResult"></span>条
                                            | 共<span id="total"></span>页
                                        </div>
                                    </div>
                                    <div style="width: 60%; float: left;">
                                        <div class="pageOperation">
                                            <!--判断是否是第一页  -->
                                            <a class="btn btn-sm btn-default no-padding tablefirst"
                                               style="width: 30px; height: 20px;"> <span
                                                    class="glyphicon glyphicon-backward"></span></a>
                                            <a class="btn btn-sm btn-default no-padding tableup"
                                               style="width: 30px; height: 20px;"> <span
                                                    class="glyphicon glyphicon-triangle-left"></span></a>
                                            <a disabled="disabled" class="btn btn-default no-padding" id="pageNum"
                                               style="width: 30px; height: 20px;">

                                            </a>
                                            <!--判断是否是最后一页  -->
                                            <a class="btn btn-sm btn-default no-padding tabledown"
                                               style="width: 30px; height: 20px;"> <span
                                                    class="glyphicon glyphicon-triangle-right" id="nextPage"></span></a>
                                            <a class="btn btn-sm btn-default no-padding tablelast"
                                               style="width: 30px; height: 20px;"> <span
                                                    class="glyphicon glyphicon-forward"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<script>-->
                        <!--/* 分页插件按钮的点击事件 */-->
                        <!--/* url是从后台接收过来的链接，sort是记录排序规则 */-->
                        <!--$('.tablefirst').on('click', function () {-->
                        <!--if (true == false) {-->
                        <!--$('.thistable').load('names?page=0');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.tableup').on('click', function () {-->
                        <!--if (true == false) {-->
                        <!--$('.thistable').load('names?page=-1');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.tabledown').on('click', function () {-->
                        <!--if (false == false) {-->
                        <!--$('.thistable').load('/mail/goWrite');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.tablelast').on('click', function () {-->
                        <!--if (false == false) {-->
                        <!--$('.thistable').load('names?page=3');-->
                        <!--}-->

                        <!--});-->

                        <!--/*类型、状态、时间的排序  */-->
                        <!--$('.thistype').on('click', function () {-->
                        <!--if ($(this).children().hasClass('glyphicon-triangle-bottom')) {-->
                        <!--$('.thistable').load('names?type=0&icon=glyphicon-triangle-top');-->
                        <!--} else {-->
                        <!--$('.thistable').load('names?type=1&icon=glyphicon-triangle-bottom');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.thisstatus').on('click', function () {-->
                        <!--if ($(this).children().hasClass('glyphicon-triangle-bottom')) {-->
                        <!--$('.thistable').load('names?status=0&icon=glyphicon-triangle-top');-->
                        <!--} else {-->
                        <!--$('.thistable').load('names?status=1&icon=glyphicon-triangle-bottom');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.thistime').on('click', function () {-->
                        <!--if ($(this).children().hasClass('glyphicon-triangle-bottom')) {-->
                        <!--$('.thistable').load('names?time=0&icon=glyphicon-triangle-top');-->
                        <!--} else {-->
                        <!--$('.thistable').load('names?time=1&icon=glyphicon-triangle-bottom');-->
                        <!--}-->
                        <!--});-->
                        <!--$('.thisvisit').on('click', function () {-->
                        <!--if ($(this).children().hasClass('glyphicon-triangle-bottom')) {-->
                        <!--$('.thistable').load('names?visitnum=0&icon=glyphicon-triangle-top');-->
                        <!--} else {-->
                        <!--$('.thistable').load('names?visitnum=1&icon=glyphicon-triangle-bottom');-->
                        <!--}-->
                        <!--});-->
                        <!--/* 查找 */-->
                        <!--$('.baseKetsubmit').on('click', function () {-->
                        <!--var baseKey = $('.baseKey').val();-->
                        <!--console.log(baseKey);-->
                        <!--$('.thistable').load('names?baseKey=' + baseKey + '');-->
                        <!--});-->
                        <!--</script>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<h2 class="mi" style="display:none;"></h2>
<script>
    $(function () {


        /* 分页插件按钮的点击事件 */

        $('.baseKetsubmit').on('click', function () {
            var baseKey = $('.baseKey').val();
            $('#myModal .thistable').load('names?baseKey=baseKey');
        });
        $(".chazhao").click(function () {
            var $qufen = $(".mi").text();
            var con = $(".cha").val();
            $("#myModal .thistable").load("names", {title: con, qufen: $qufen});
        });
    });

</script>
</html>