<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AoaEvectionMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.AoaEvection">
    <id column="evection_id" jdbcType="BIGINT" property="evectionId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="pro_id" jdbcType="BIGINT" property="proId" />
    <result column="personnel_advice" jdbcType="VARCHAR" property="personnelAdvice" />
    <result column="manager_advice" jdbcType="VARCHAR" property="managerAdvice" />
  </resultMap>

</mapper>