<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.IAoaInMailListMapper">
    <resultMap id="BaseResultMap" type="com.hr.entity.AoaInMailList">
        <id column="mail_id" jdbcType="BIGINT" property="mailId"/>
        <result column="mail_content" jdbcType="VARCHAR" property="mailContent"/>
        <result column="mail_create_time" jdbcType="TIMESTAMP" property="mailCreateTime"/>
        <result column="mail_file_id" jdbcType="BIGINT" property="mailFileId"/>
        <result column="mail_title" jdbcType="VARCHAR" property="mailTitle"/>
        <result column="mail_type" jdbcType="BIGINT" property="mailType"/>
        <result column="mail_in_push_user_id" jdbcType="BIGINT" property="mailInPushUserId"/>
        <result column="in_receiver" jdbcType="VARCHAR" property="inReceiver"/>
        <result column="mail_status_id" jdbcType="BIGINT" property="mailStatusId"/>
        <result column="mail_number_id" jdbcType="BIGINT" property="mailNumberId"/>
        <result column="mail_del" jdbcType="INTEGER" property="mailDel"/>
        <result column="mail_push" jdbcType="INTEGER" property="mailPush"/>
        <result column="mail_star" jdbcType="INTEGER" property="mailStar"/>
        <result column="mail_in_push_name" jdbcType="VARCHAR" property="mailInPushName"/>
    </resultMap>

    <resultMap id="mail_reciver_map" type="com.hr.entity.AoaInMailList" extends="BaseResultMap">
        
        <collection property="listAoaMailReciver" ofType="com.hr.entity.AoaMailReciver" column="mailId">
            <id column="pk_id" jdbcType="BIGINT" property="pkId"/>
            <result column="is_read" jdbcType="INTEGER" property="isRead"/>
            <result column="mail_id" jdbcType="BIGINT" property="mailId"/>
            <result column="mail_reciver_id" jdbcType="BIGINT" property="mailReciverId"/>
            <result column="is_star" jdbcType="INTEGER" property="isStar"/>
            <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        </collection>

    </resultMap>

    <resultMap id="mail_reciver_user_attachment_map" type="com.hr.entity.AoaInMailList" extends="BaseResultMap">
        <association property="aoaAttachmentList" column="mailFileId" javaType="com.hr.entity.AoaAttachmentList">
            <result column="attachment_name" jdbcType="VARCHAR" property="attachmentName"/>
            <result column="attachment_path" jdbcType="VARCHAR" property="attachmentPath"/>
        </association>
    </resultMap>


    <!--添加内部邮件-->
    <insert id="addAoaMailList" parameterType="com.hr.entity.AoaInMailList" useGeneratedKeys="true"
            keyProperty="mailId">
        insert into aoa_in_mail_list
        (mail_content,mail_create_time,mail_title,
        mail_type,mail_in_push_user_id,in_receiver,
        mail_status_id,mail_number_id,mail_del,
        mail_push,mail_star)
        values
        (#{mailContent},DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s'),
        #{mailTitle},#{mailType},
        #{mailInPushUserId},#{inReceiver},
        #{mailStatusId},#{mailNumberId},0,
        #{mailPush},0)
    </insert>

    <!--收件箱高级查询条件-->
    <sql id="queryInMailWhere">
        <where>
            <if test="userId != null">
                and amr.mail_reciver_id = #{userId}
            </if>
            -- 内部邮件
            <if test="1 == 1">
                and aiml.mail_number_id is null
            </if>
            -- 已发送邮件
            <if test="1 == 1">
                and mail_push = 1
            </if>
            -- 是否删除
            <if test="isDel != null">
                and amr.is_del = #{isDel}
            </if>
            <if test="mailType != null">
                and aiml.mail_type = #{mailType}
            </if>
            <if test="mailStatusId != null">
                and aiml.mail_status_id= #{mailStatusId}
            </if>
            <if test="param != null and param != ''">
                and (mail_title like "%"#{param}"%" or in_receiver like "%"#{param}"%")
            </if>
        </where>
    </sql>

    <select id="queryAoaInMailList" resultMap="mail_reciver_map">

        select aiml.mail_id, amr.is_star,aiml.mail_type,aiml.in_receiver,
        aiml.mail_title,aiml.mail_create_time,aiml.mail_file_id,
        aal.attachment_path,aiml.mail_status_id,amr.is_read
        from aoa_in_mail_list aiml
        left join aoa_mail_reciver amr on aiml.mail_id = amr.mail_id
        left join aoa_attachment_list aal on aiml.mail_file_id = aal.attachment_id
        <include refid="queryInMailWhere"></include>
        order by aiml.mail_create_time desc,aiml.mail_id
        <if test="firstResult != null and maxResult != null">
            limit #{firstResult},#{maxResult}
        </if>
    </select>

    <select id="getCountForInMailBox" resultType="java.lang.Long">
        select count(aiml.mail_id)
        from aoa_in_mail_list aiml
        left join aoa_mail_reciver amr on aiml.mail_id = amr.mail_id
        left join aoa_attachment_list aal on aiml.mail_file_id = aal.attachment_id
        <include refid="queryInMailWhere"></include>
    </select>

    <select id="queryAoaInMailListWhere" resultMap="mail_reciver_user_attachment_map">
        select aiml.mail_id,aiml.mail_title,
        aiml.mail_content,aiml.mail_file_id,
        aiml.mail_create_time,aiml.in_receiver,
        aal.attachment_name,aal.attachment_path,
        aiml.mail_file_id,aiml.mail_number_id,
        (select au.user_name
        from aoa_in_mail_list aim
        left join aoa_user au
        on aim.mail_in_push_user_id = au.user_id
        where aim.mail_id = aiml.mail_id ) as mail_in_push_name
        from aoa_in_mail_list aiml
        left join aoa_mail_reciver amr
        on aiml.mail_id = amr.mail_id
        left join aoa_user au
        on amr.mail_reciver_id = au.user_id
        left join aoa_attachment_list aal
        on aiml.mail_file_id = aal.attachment_id
        <where>
            <if test="mailId != null">
                and aiml.mail_id = #{mailId}
            </if>
        </where>
    </select>

    <sql id="queryOutMailWhere">
        <where>
            <if test="userId != null">
                and mail_in_push_user_id = #{userId}
            </if>
            <if test="mailPush != null">
                and mail_push = #{mailPush}
            </if>
            <if test="1 == 1">
                and mail_del = 0
            </if>
            <if test="mailType != null">
                and aiml.mail_type = #{mailType}
            </if>
            <if test="mailStatusId != null">
                and aiml.mail_status_id= #{mailStatusId}
            </if>
            <if test="param != null and param != ''">
                and (mail_title like "%"#{param}"%" or in_receiver like "%"#{param}"%")
            </if>
        </where>
    </sql>

    <select id="queryAoaOutMailList" resultMap="mail_reciver_user_attachment_map">

        select mail_type,in_receiver,mail_title,
        mail_create_time,aal.attachment_name,
        attachment_path,mail_status_id,mail_star,
        mail_file_id,mail_id
        from aoa_in_mail_list aiml
        left join aoa_attachment_list aal
        on aiml.mail_file_id = aal.attachment_id
        <include refid="queryOutMailWhere"></include>
        <if test="firstResult != null and maxResult != null">
            limit #{firstResult},#{maxResult}
        </if>
    </select>

    <select id="getCountForOutMailBox" resultType="java.lang.Long">

        select count(aiml.mail_id)
        from aoa_in_mail_list aiml
        left join aoa_attachment_list aal
        on aiml.mail_file_id = aal.attachment_id
        <include refid="queryOutMailWhere"></include>
    </select>

    <update id="deleteForOutMail">

        update aoa_in_mail_list
        set mail_del = 1
        where mail_id in
        <foreach collection="mailIds" item="mailId" open="(" separator="," close=")">
            #{mailId}
        </foreach>
    </update>

    <select id="getStarStatus" resultType="java.lang.Long">

        select mail_star
        from aoa_in_mail_list
        where mail_id = #{mailId}

    </select>

    <update id="updateAoaInMailListForStar">

        update aoa_in_mail_list
        set mail_star =
        <if test="mailStar == 1">0</if>
        <if test="mailStar == 0">1</if>
        where mail_id = #{mailId}

    </update>
</mapper>

