<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.IAoaMailReciverMapper">
    <resultMap id="BaseResultMap" type="com.hr.entity.AoaMailReciver">
        <id column="pk_id" jdbcType="BIGINT" property="pkId"/>
        <result column="is_read" jdbcType="INTEGER" property="isRead"/>
        <result column="mail_id" jdbcType="BIGINT" property="mailId"/>
        <result column="mail_reciver_id" jdbcType="BIGINT" property="mailReciverId"/>
        <result column="is_star" jdbcType="INTEGER" property="isStar"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
    </resultMap>

    <insert id="addAoaMailReciver">

        insert into aoa_mail_reciver
        (is_read,mail_id,mail_reciver_id,
        is_star,is_del)
        values
        (0,#{mailId},#{userId},0,0)

    </insert>

    <update id="batchDeleteAoaMailReciver">

        update aoa_mail_reciver
        set is_del = 1
        where mail_reciver_id = #{userId}
        and mail_id in
        <foreach collection="mailIds" item="mailId" open="(" separator="," close=")">
            #{mailId}
        </foreach>

    </update>

    <update id="batchUpdateAoaMailReciverForRead">

        update aoa_mail_reciver
        set
        is_read = 1
        where mail_reciver_id = #{userId}
        and mail_id in
        <foreach collection="mailIds" item="mailId" open="(" separator="," close=")">
            #{mailId}
        </foreach>
    </update>

    <select id="getStarStatus" resultType="java.lang.Long">

        select amr.is_star
        from aoa_in_mail_list aim
        inner join aoa_mail_reciver amr
        on aim.mail_id = amr.mail_id
        where aim.mail_id = #{mailId}
        AND mail_reciver_id = #{userId}

    </select>

    <update id="updateAoaMailReciverForStar">

        update aoa_mail_reciver
        set
        is_star =
        <if test="isStar == 1">0</if>
        <if test="isStar == 0">1</if>
        WHERE mail_id = #{mailId}

    </update>

    <update id="batchRealDeleteAoaMailReciver">

        DELETE from aoa_mail_reciver
        where mail_reciver_id = #{userId}
        and mail_id in
        <foreach collection="mailIds" item="mailId" open="(" separator="," close=")">
            #{mailId}
        </foreach>

    </update>

    <select id="getUnreadInMailForUser" resultType="java.lang.Long">

        select count(aiml.mail_id)
        from aoa_in_mail_list aiml
        inner join aoa_mail_reciver amr
        on aiml.mail_id = amr.mail_id
        where amr.mail_reciver_id = #{userId}
        and amr.is_del = 0
        and amr.is_read = 0
        and aiml.mail_number_id
        is null and mail_push = 1

    </select>
</mapper>