<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.IAoaNoticeListMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.AoaNoticeList">
    <id column="notice_id" jdbcType="BIGINT" property="noticeId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
    <result column="status_id" jdbcType="BIGINT" property="statusId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
<!--  <resultMap id="BaseResultMap2" type="com.hr.entity.AoaNoticeList" extends="BaseResultMap">
    <association property="configfilefirstkind" column="firstkindid" javaType="com.hr.entity.Configfilefirstkind">
      <id  property="firstkindid" column="firstkindid"/>
      <result property="firstkindname" column="firstkindname"/>
    </association>
    <association property="configfilesecondkind" column="secondkindid" javaType="com.hr.entity.Configfilesecondkind">
      <id  property="secondkindid" column="secondkindid"/>
      <result property="secondkindname" column="secondkindname"/>
    </association>
  </resultMap>-->
  <select id="queryAoaNoticeListAll" resultMap="BaseResultMap">
    SELECT * FROM aoa_notice_list
  </select>

</mapper>