<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.IAoaProcessListMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.AoaProcessList">
    <id column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="deeply_id" jdbcType="BIGINT" property="deeplyId" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="process_des" jdbcType="VARCHAR" property="processDes" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="procsee_days" jdbcType="INTEGER" property="procseeDays" />
    <result column="is_checked" jdbcType="INTEGER" property="isChecked" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="status_id" jdbcType="BIGINT" property="statusId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="pro_file_id" jdbcType="BIGINT" property="proFileId" />
    <result column="process_user_id" jdbcType="BIGINT" property="processUserId" />
    <result column="shenuser" jdbcType="VARCHAR" property="shenuser" />
  </resultMap>


    <insert id="addAoaProcessList">

        INSERT INTO aoa_process_list
            (apply_time,deeply_id,process_des,process_name,
            procsee_days,is_checked,start_time,status_id,type_name,
            pro_file_id,process_user_id,shenuser)
        VALUES
            (SYSDATE(),#{deeply_id},#{process_des},#{process_name},
            #{procsee_days},#{is_checked},#{start_time},#{status_id},
            #{type_name},#{pro_file_id},#{process_user_id},#{shenuser})

    </insert>

    <select id="queryMyApplyFor" resultMap="BaseResultMap">

        SELECT type_name,process_id,apply_time,shenuser,deeply_id,status_id
        from aoa_process_list WHERE process_user_id = #{process_user_id}

    </select>

    <select id="queryMyApplyForById" resultMap="BaseResultMap">

        SELECT type_name,process_id,apply_time,shenuser,deeply_id,status_id
        from aoa_process_list WHERE process_id = #{process_id}

    </select>

</mapper>