<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.IAoaUserMapper">
    <resultMap id="BaseResultMap" type="com.hr.entity.AoaUser">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="bank" jdbcType="VARCHAR" property="bank"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="eamil" jdbcType="VARCHAR" property="eamil"/>
        <result column="father_id" jdbcType="BIGINT" property="fatherId"/>
        <result column="hire_time" jdbcType="TIMESTAMP" property="hireTime"/>
        <result column="user_idcard" jdbcType="VARCHAR" property="userIdcard"/>
        <result column="img_path" jdbcType="VARCHAR" property="imgPath"/>
        <result column="is_lock" jdbcType="INTEGER" property="isLock"/>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="salary" jdbcType="REAL" property="salary"/>
        <result column="user_school" jdbcType="VARCHAR" property="userSchool"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="theme_skin" jdbcType="VARCHAR" property="themeSkin"/>
        <result column="user_edu" jdbcType="VARCHAR" property="userEdu"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_sign" jdbcType="VARCHAR" property="userSign"/>
        <result column="user_tel" jdbcType="VARCHAR" property="userTel"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="position_id" jdbcType="BIGINT" property="positionId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="superman" jdbcType="INTEGER" property="superman"/>
        <result column="holiday" jdbcType="INTEGER" property="holiday"/>
        <result column="pinyin" jdbcType="VARCHAR" property="pinyin"/>
    </resultMap>

    <!--用户+职位+部门Map-->
    <resultMap id="user_dept_position_map" type="com.hr.entity.AoaUser" extends="BaseResultMap">

        <association property="aoaDept" column="deptId" javaType="com.hr.entity.AoaDept">
            <id column="dept_id" jdbcType="BIGINT" property="deptId"/>
            <result column="dept_addr" jdbcType="VARCHAR" property="deptAddr"/>
            <result column="dept_fax" jdbcType="VARCHAR" property="deptFax"/>
            <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
            <result column="dept_tel" jdbcType="VARCHAR" property="deptTel"/>
            <result column="email" jdbcType="VARCHAR" property="email"/>
            <result column="deptmanager" jdbcType="BIGINT" property="deptmanager"/>
            <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
            <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        </association>

        <association property="aoaPosition" column="positionId" javaType="com.hr.entity.AoaPosition">
            <id column="position_id" jdbcType="BIGINT" property="positionId"/>
            <result column="level" jdbcType="INTEGER" property="level"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="describtion" jdbcType="VARCHAR" property="describtion"/>
            <result column="deptid" jdbcType="BIGINT" property="deptid"/>
        </association>

    </resultMap>


    <select id="login" resultMap="BaseResultMap">

        SELECT *
        FROM aoa_user
        WHERE
        <if test="userName != '' and userName != null">
            user_name = #{userName}
        </if>
        <if test="userName == '' or userName == null">
            user_tel = #{userName}
        </if>
        AND password = #{password}

    </select>

    <select id="queryAoaUserForUnderstrapper" resultType="java.lang.Long">

        select user_id from aoa_user au
        left join aoa_position ap on au.position_id = ap.position_id
        left join aoa_dept ad on au.dept_id = ad.dept_id
        where `level` &gt;
        (select `level` from aoa_position where position_id =
        #{positionId} and ap.deptid = #{deptId})
        ORDER BY `level`
        limit 0,1

    </select>

    <select id="queryAoaUserForDirector" resultMap="user_dept_position_map">

        select au.user_id,au.user_name,au.real_name,ad.dept_name,ap.`name`,au.user_tel
        from aoa_user au
        left join aoa_dept ad on au.dept_id = ad.dept_id
        left join aoa_position ap on au.position_id = ap.position_id
        where au.user_id in
        (select share_user_id from aoa_director_users where user_id = #{userId} )

    </select>

    <select id="queryAoaUserIdByUserName" resultType="java.lang.Long">

        select user_id from aoa_user where user_name = #{userName}

    </select>
</mapper>