<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.AoaVoteTitlesMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.AoaVoteTitles">
    <id column="title_id" jdbcType="BIGINT" property="titleId" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="vote_id" jdbcType="BIGINT" property="voteId" />
  </resultMap>

</mapper>